USE [BDHIS_MINSA]
GO
/****** Object:  Table [dbo].[MAESTRO_HIS_UPS]    Script Date: 30/07/2020 10:03:49 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MAESTRO_HIS_UPS]') AND type in (N'U'))
DROP TABLE [dbo].[MAESTRO_HIS_UPS]
GO
/****** Object:  Table [dbo].[MAESTRO_HIS_UPS]    Script Date: 30/07/2020 10:03:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MAESTRO_HIS_UPS]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[MAESTRO_HIS_UPS](
	[Id_Ups] [varchar](6) NOT NULL,
	[Descripcion_Ups] [varchar](100) NULL
) ON [PRIMARY]
END
GO
INSERT [dbo].[MAESTRO_HIS_UPS] ([Id_Ups], [Descripcion_Ups]) VALUES (N'101002', N'SALUD AMBIENTAL')
INSERT [dbo].[MAESTRO_HIS_UPS] ([Id_Ups], [Descripcion_Ups]) VALUES (N'101701', N'SERVICIOS SOCIAL')
INSERT [dbo].[MAESTRO_HIS_UPS] ([Id_Ups], [Descripcion_Ups]) VALUES (N'110000', N'FARMACIA')
GO
