USE [BDHIS_MINSA]
GO
/****** Object:  Table [dbo].[MAESTRO_HIS_UBIGEO_INEI_RENIEC]    Script Date: 30/07/2020 10:03:49 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MAESTRO_HIS_UBIGEO_INEI_RENIEC]') AND type in (N'U'))
DROP TABLE [dbo].[MAESTRO_HIS_UBIGEO_INEI_RENIEC]
GO
/****** Object:  Table [dbo].[MAESTRO_HIS_UBIGEO_INEI_RENIEC]    Script Date: 30/07/2020 10:03:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MAESTRO_HIS_UBIGEO_INEI_RENIEC]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[MAESTRO_HIS_UBIGEO_INEI_RENIEC](
	[Id_Ubigueo_Inei] [varchar](6) NOT NULL,
	[Id_Ubigueo_Reniec] [varchar](6) NOT NULL,
	[Departamento] [varchar](100) NOT NULL,
	[Provincia] [varchar](100) NOT NULL,
	[Distrito] [varchar](100) NOT NULL,
	[Codigo_Departamento_Inei] [char](2) NULL,
	[Codigo_Provincia_Inei] [char](2) NULL,
	[Codigo_Distrito_Inei] [char](2) NULL,
	[Codigo_Departamento_Reniec] [varchar](2) NULL,
	[Codigo_Provincia_Reniec] [varchar](2) NULL,
	[Codigo_Distrito_Reniec] [varchar](2) NULL
) ON [PRIMARY]
END
GO
INSERT [dbo].[MAESTRO_HIS_UBIGEO_INEI_RENIEC] ([Id_Ubigueo_Inei], [Id_Ubigueo_Reniec], [Departamento], [Provincia], [Distrito], [Codigo_Departamento_Inei], [Codigo_Provincia_Inei], [Codigo_Distrito_Inei], [Codigo_Departamento_Reniec], [Codigo_Provincia_Reniec], [Codigo_Distrito_Reniec]) VALUES (N'010101', N'010101', N'AMAZONAS', N'CHACHAPOYAS', N'CHACHAPOYAS', N'01', N'01', N'01', N'01', N'01', N'01')
INSERT [dbo].[MAESTRO_HIS_UBIGEO_INEI_RENIEC] ([Id_Ubigueo_Inei], [Id_Ubigueo_Reniec], [Departamento], [Provincia], [Distrito], [Codigo_Departamento_Inei], [Codigo_Provincia_Inei], [Codigo_Distrito_Inei], [Codigo_Departamento_Reniec], [Codigo_Provincia_Reniec], [Codigo_Distrito_Reniec]) VALUES (N'010102', N'010102', N'AMAZONAS', N'CHACHAPOYAS', N'ASUNCION', N'01', N'01', N'02', N'01', N'01', N'02')
INSERT [dbo].[MAESTRO_HIS_UBIGEO_INEI_RENIEC] ([Id_Ubigueo_Inei], [Id_Ubigueo_Reniec], [Departamento], [Provincia], [Distrito], [Codigo_Departamento_Inei], [Codigo_Provincia_Inei], [Codigo_Distrito_Inei], [Codigo_Departamento_Reniec], [Codigo_Provincia_Reniec], [Codigo_Distrito_Reniec]) VALUES (N'010103', N'010103', N'AMAZONAS', N'CHACHAPOYAS', N'BALSAS', N'01', N'01', N'03', N'01', N'01', N'03')
GO
