USE [DataHIS]
GO
/****** Object:  Table [dbo].[CPMS]    Script Date: 25/11/2021 15:19:03 ******/

CREATE TABLE [dbo].[CPMS](
	[CODIGO] [nvarchar](10) NOT NULL,
	[Fg_Tipo] [nvarchar](2) NULL,
	[Fg_Estado] [int] NOT NULL
) ON [PRIMARY]
GO

INSERT [dbo].[CPMS] ([CODIGO], [Fg_Tipo], [Fg_Estado]) VALUES (N'01670', N'CP', 1)
INSERT [dbo].[CPMS] ([CODIGO], [Fg_Tipo], [Fg_Estado]) VALUES (N'01680', N'CP', 1)
INSERT [dbo].[CPMS] ([CODIGO], [Fg_Tipo], [Fg_Estado]) VALUES (N'01682', N'CP', 1)
GO
