/*==============================================================================
ELABORACION: OGTI/ OGEI - MINSA 
INDICADORES: DL1153 - 2021
-----------------------------------------------------------------------

Indicadores DL1153

Nombre: Porcentaje de niñas y niños de 3 a 11 años con alta básica odontológica

NUMERADOR: Total de niñas y niños de 3 a 11 años con alta básica odontólogica, realizados y 
registrados en el HIS entre el 01 de enero y el 31 de Diciembre del año en curso, identificados 
nominalmente con DNI.

Sintaxis: (DNI + Edad( > ó = 3 y < ó = 11) + TD=D + Dx = U510 + cualquier Lab<>G (que no tenga Lab= G)

DENOMINADOR: Total de niñas y niños de 3 a 11 años atendidos en los servicios de Odontologia en 
			Establecimientos del Salud del MINSA y Gobiernos Regionales.

Fuente de datos	:

Numerador: HIS-MINSA.
Denominador: HIS-MINSA
Información HIS-MINSA 2020: data cerrada al 28 de febrero del 2022.
===========================================================================================================*/

use BDHIS_MINSA
go

 DROP TABLE #CNV
 DROP TABLE #CNV_FINAL
 DROP TABLE #CNV_20210710
 DROP TABLE #TRAMA_HIS
 DROP TABLE #HIS_MINSA
 DROP TABLE #2019
 DROP TABLE #2020
 DROP TABLE #2021
 DROP TABLE #PN_DNI
 DROP TABLE #PADRON
 DROP TABLE #BPN
 DROP TABLE #PADRON_03
 DROP TABLE #PADRONF_03
 DROP TABLE #PADRON_NOMINAL
 DROP TABLE #ATENDIDOS
 DROP TABLE #TMP_1
 DROP TABLE #TMP_01
 DROP TABLE #TMP_02
 DROP TABLE #TMP_2
 DROP TABLE #TMP_3
 DROP TABLE #TMP_4
 DROP TABLE #CRED1_03
 DROP TABLE #CRED2_03
 DROP TABLE #TEMP3_1
 DROP TABLE #TEMP2
 DROP TABLE #TEMP3
 DROP TABLE #TEMP4
 DROP TABLE #TEMP5
 DROP TABLE #TEMP6
 DROP TABLE #TEMP7
 DROP TABLE #TEMP8
 DROP TABLE #TEMP9
 DROP TABLE #TEMP_10
 DROP TABLE #TEMP_11
 DROP TABLE #TEMP_12
 DROP TABLE #TEMP_19
 DROP TABLE #TEMP_19_1
 DROP TABLE #TEMP_20
 DROP TABLE #TEMP_21
 DROP TABLE #TEMP_22
 DROP TABLE #TEMP_23
 DROP TABLE #BASE_FINAL
 DROP TABLE #DEN
 DROP TABLE #NUM
 DROP TABLE #BASE_HIS_NO_TLM
 DROP TABLE #ALTA
 DROP TABLE #NOALTA
 DROP TABLE #PRE_COLLAPSE
 DROP TABLE #COLLAPSE_FINAL
 DROP TABLE #COLLAPSE2
 DROP TABLE #COLLAPSE3
 DROP TABLE #COLLAPSE_3
 DROP TABLE #DL1153_2021_10_NOMINAL
 DROP TABLE #DL1153_2021_10_CONSOLIDADO
 DROP TABLE #TRAMAHIS_CG_10_CONSOLIDADO
 DROP TABLE #TRAMAHIS_CG_10_NOMINAL
 DROP TABLE #ELIMINA_MENOR

--=============================================================================
 DROP TABLE #TRAMAHISMINSA_202106_20210720
SELECT
	N.ANIO + RIGHT('00' + N.MES, 2) AS ANIOMES,
	MP.ID_TIPO_DOCUMENTO_PACIENTE 	AS ID_TIPO_DOC,
	MP.ID_GENERO					AS ID_GENERO,
	N.CODIGO_ITEM 					AS COD_ITEM,
	N.VALOR_LAB						AS VALOR_LAB,
	N.TIPO_DIAGNOSTICO				AS ID_TIPITEM,
	ME.CODIGO_UNICO					AS RENAES,
	N.EDAD_REG,
	N.TIPO_EDAD						AS ID_TIPEDAD_REG,
	N.ID_CITA,
	N.FECHA_REGISTRO,
	N.ID_UPS,
	N.ID_CONDICION_SERVICIO			AS ID_TIPCOND_SERV,
	N.ID_CONDICION_ESTABLECIMIENTO	AS ID_TIPCOND_ESTAB,

	MP.NUMERO_DOCUMENTO_PACIENTE 	AS NUM_DOC,
	N.FECHA_ATENCION 				AS FECHA_CITA,
	N.FECHA_ATENCION 				AS PERIODO,
	(MP.APELLIDO_PATERNO_PACIENTE + ' ' + MP.APELLIDO_MATERNO_PACIENTE + ' ' + MP.NOMBRES_PACIENTE) AS PACIENTE
INTO
	#TRAMAHISMINSA_202106_20210720
FROM
	NOMINAL_TRAMA_NUEVO AS N
		INNER JOIN MAESTRO_PACIENTE AS MP
			ON N.ID_PACIENTE = MP.ID_PACIENTE
		INNER JOIN MAESTRO_HIS_ESTABLECIMIENTO AS ME
			ON N.ID_ESTABLECIMIENTO = ME.ID_ESTABLECIMIENTO

--=============================================================================
 DROP TABLE #PADRON_NOMINAL_30062021
SELECT
	DNI AS [NU_DNI_MENOR]
	, CNV AS NU_CNV
	, (APELLIDO_PATERNO_MENOR + ' ' + APELLIDO_MATERNO_MENOR + ' ' + NOMBRES_MENOR) AS [NIÑO PADRON]
	, FECHA_DE_NACIMIENTO_MENOR AS [FE_NAC_MENOR]
	, UBIGEO_DISTRITO AS CO_UBIGEO_INEI
	, PROVINCIA
	, DISTRITO
	, TI_DOC_IDENTIDAD = CASE	WHEN CHARINDEX('1', TIPO_DOCUMENTO, 1) != 0 THEN '1'
							WHEN CHARINDEX('3', TIPO_DOCUMENTO, 1) != 0 THEN '3'
					END
	, TI_SEGURO_MENOR = CASE WHEN CHARINDEX('1', TIPO_DE_SEGURO, 1) != 0 THEN '1'
					WHEN CHARINDEX('2', TIPO_DE_SEGURO, 1) != 0 THEN '2'
					WHEN CHARINDEX('3', TIPO_DE_SEGURO, 1) != 0 THEN '3'
					WHEN CHARINDEX('4', TIPO_DE_SEGURO, 1) != 0 THEN '4'
					ELSE '9'
					END
	-- , TI_SEGURO_MENOR = CASE WHEN CHARINDEX('1', TIPO_DE_SEGURO, 1) != 0 THEN 'MINSA'
	--				 WHEN CHARINDEX('2', TIPO_DE_SEGURO, 1) != 0 THEN 'ESSALUD'
	--				 WHEN CHARINDEX('3', TIPO_DE_SEGURO, 1) != 0 THEN 'SANIDAD FFAA/PNP'
	--				 WHEN CHARINDEX('4', TIPO_DE_SEGURO, 1) != 0 THEN 'PRIVADO'
	--				 ELSE 'SIN REGISTRO'
	--				 END
INTO
	#PADRON_NOMINAL_30062021
FROM
	PADRON_NOMINAL
--=============================================================================
 DROP TABLE #RENAES
SELECT
	*
INTO
	#RENAES
FROM
	RENAES_20210720
--=============================================================================
 DROP TABLE #CNV_20210710
SELECT
    YEAR(FECHA_PARTO) AS [AÑO CNV]
	, RIGHT(CONCAT('00', MONTH(FECHA_PARTO)), 2) + ' - ' + UPPER(DATENAME(MM, '01/' + CAST(MONTH(FECHA_PARTO) AS NVARCHAR) + '/2021')) AS [MES EVALUACION CNV]
	, CNV AS [NU_CNV]
    , EESS AS [EESS PARTO]
    , CASE WHEN TIPO_DOC = 'DNI/LE' THEN 1 ELSE 0 END AS [TIP_DOC_MADRE]
	, CONT_DOM_MADRE = 92
	, PAIS_DOM_MADRE = 33
	, TIP_LUGAR_NACIDO = 1
	, COD_EESS_PRENATAL AS CO_LOCAL
	, DPTO_DOM_MADRE = '21'
	, PROV_DOM_MADRE = '04'
	, DIST_DOM_MADRE = '01'
    , DNI_G AS [NU_DOC_MADRE]
    , (APELLIDO_PATERNO_GESTANTE + ' ' + APELLIDO_MATERNO_GESTANTE + ' ' + NOMBRES_GESTANTE) AS GESTANTE
    , EESS_PRENATAL AS [EESS PRENATAL]
    , FECHA_PARTO AS [FE_NACIDO]
    , SEMANAS AS [DUR_EMB_PARTO]
	, PESO_NACIDO
INTO
    #CNV_20210710
FROM
    CNV
WHERE
    (
        DNI_G IS NOT NULL
        OR
        DNI_G != ''
    )
--=============================================================================
GO

DECLARE @MES_INICIO INT ,
		@MES_FINAL INT , 
		@YEAR INT

SET @MES_INICIO=1 -- <========= CAMBIAR MES INICIO
SET @MES_FINAL=6 -- <========= CAMBIAR MES FINAL
SET @YEAR=2021 -- <========= CAMBIAR AÑO.

---- REDUCCIÓN DEL HIS .
SELECT *
INTO #HIS_MINSA
FROM #TRAMAHISMINSA_202106_20210720
WHERE YEAR(TRY_CONVERT(DATE, periodo))=@YEAR
AND MONTH(TRY_CONVERT(DATE, periodo))<=@MES_FINAL AND MONTH(TRY_CONVERT(DATE, periodo))>=@MES_INICIO
AND SUBSTRING(RTRIM(LTRIM(id_ups)),1,4)  in ('3033') --> SERVICIOS ODONTOLOGICOS.
AND (TRY_CONVERT(INT,EDAD_REG)>=3 AND TRY_CONVERT(INT,EDAD_REG)<=11) --> EDAD ENTRE LOS 3 Y 11 AÑOS.
AND LTRIM(RTRIM(id_tipedad_reg)) IN ('A') --> EDAD EN AÑOS. 
AND TRY_CONVERT(INT,ID_TIPO_DOC)=1 --> TIPO DE DOCUMENTOS DNI.
AND len(replace(ltrim(rtrim(NUM_DOC)),LEFT(ltrim(rtrim(NUM_DOC)),1),''))>0
AND TRY_CONVERT(INT,NUM_DOC) IS NOT NULL 

-- SELECT *
-- INTO #RENAES
-- FROM Renaes_20210720
---------------------------------------------------------------------------

-- 1] PRIMERO EXCLUIR LAS ATENCIONES MEDIANTE TELEMEDICINA. 
SELECT * 
INTO #BASE_HIS_NO_TLM
FROM (
		SELECT *
		, MAX(IIF(LTRIM(RTRIM(COD_ITEM)) IN ('99499.08','99499.09','99499.10','99499.01'),1,0)) 
						OVER (PARTITION BY NUM_DOC, ID_CITA) ID 
		FROM #HIS_MINSA
) AS T WHERE ID=0

--2] CALCULAR EL DENOMINADOR Y NUMERADOR. 
----DENOMINADOR
	SELECT 
	A.NUM_DOC
	, TRY_CONVERT(DATE, A.periodo) FECHA_ATENDIDO
	, FECHA_REGISTRO
	, TRY_CONVERT(INT,A.edad_reg) EDAD
	, YEAR(TRY_CONVERT(DATE, A.periodo)) AÑO
	, MONTH(TRY_CONVERT(DATE, A.periodo)) MES
	, C.AMBITO
	, A.RENAES
	, A.ID_TIPITEM
	, A.COD_ITEM
	, A.VALOR_LAB
	, C.CAT_ESTAB
	, ISNULL(TRY_CONVERT(INT,C.CAMAS),0) CAMAS
	, C.DESC_ESTAB EESS_NOMBRE
	, B.desc_dpto DEPARTAMENTO
	, B.desc_prov PROVINCIA
	, B.desc_dist DISTRITO
	, B.diris DIRIS
	, C.DESC_RED RED 
	, DEN=1
	, NUM=0
	INTO #DEN
	FROM #BASE_HIS_NO_TLM A 
	INNER JOIN 
	#RENAES c on TRY_CONVERT(INT,a.renaes)=convert(INT,c.COD_ESTAB)
	LEFT JOIN 
	Maestro_UBIGEO_20200407 b on convert(int,c.UBIGEO)=convert(int,b.UBIGEO)
	WHERE C.AMBITO='1' ---> ESTABLECIMIENTOS DEL MINSA. 
	AND LTRIM(RTRIM(id_tipcond_estab)) IN ('N','R','C') --> INGRESO ESTABLECIMIENTO (NUEVO, REINGRESO, CONTINUO).
	AND LTRIM(RTRIM(id_tipcond_serv)) IN ('R','N') --> INGRESO A SERVICIOS  (NUEVO Y REINGRESO). 

-- NUMERADOR 
	SELECT 
	A.NUM_DOC
	, TRY_CONVERT(DATE, A.periodo) FECHA_ATENDIDO
	, FECHA_REGISTRO
	, TRY_CONVERT(INT,A.edad_reg) EDAD
	, YEAR(TRY_CONVERT(DATE, A.periodo)) AÑO
	, MONTH(TRY_CONVERT(DATE, A.periodo)) MES
	, C.AMBITO
	, A.RENAES
	, A.ID_TIPITEM
	, A.COD_ITEM
	, A.VALOR_LAB
	, C.CAT_ESTAB
	, ISNULL(TRY_CONVERT(INT,C.CAMAS),0) CAMAS
	, C.DESC_ESTAB EESS_NOMBRE
	, B.desc_dpto DEPARTAMENTO
	, B.desc_prov PROVINCIA
	, B.desc_dist DISTRITO
	, B.diris DIRIS
	, C.DESC_RED RED 
	, DEN=1
	, NUM=1
	INTO #NUM
	FROM #BASE_HIS_NO_TLM A 
	INNER JOIN 
	#RENAES c on TRY_CONVERT(INT,a.renaes)=convert(INT,c.COD_ESTAB)
	LEFT JOIN 
	Maestro_UBIGEO_20200407 b on convert(int,c.UBIGEO)=convert(int,b.UBIGEO)
	WHERE C.AMBITO='1' ---> ESTABLECIMIENTOS DEL MINSA.
	AND A.NUM_DOC IN (SELECT DISTINCT NUM_DOC FROM #DEN) --> DENOMINADOR. 
	AND LTRIM(RTRIM(A.COD_ITEM))='U510' 
	AND LTRIM(RTRIM(A.ID_TIPITEM))='D' 
	AND (LTRIM(RTRIM(VALOR_LAB)) NOT IN ('G') 
	   OR VALOR_LAB IS NULL)
	
-- UNION DE #DEN Y #NUM
	SELECT * 
	INTO #BASE_FINAL
	FROM #DEN
	UNION ALL
	SELECT * FROM #NUM


-- 3] CRITERIOS DE ELECCION. 

---- 3.1. PRIMERO SE IDENTIFICA A LOS QUE TIENEN ALTA Y A LOS QUE NO TIENEN ALTA.
SELECT *
, MAX(NUM) OVER (PARTITION BY NUM_DOC) ID_ALTA --> (SI ID_ALTA=1 EL NIÑO TIENE ALTA | ID_ALTA=0 EL NIÑO NO TIENE ALTA) 
INTO #TEMP3_1
FROM #BASE_FINAL

---- 3.2 NIÑOS CON ALTA ODONTOLOGICA. 
SELECT *
INTO #ALTA
FROM (
		SELECT * 
		, ROW_NUMBER() OVER (PARTITION BY NUM_DOC ORDER BY FECHA_ATENDIDO DESC , FECHA_REGISTRO DESC) ID_ULTIMA_ALTA --> ENUMERAR DEL ULTIMO AL PRIMERO DE LOS EESS QUE DIERON ALTA AL NIÑO. 
		FROM #TEMP3_1
		WHERE ID_ALTA='1' AND NUM='1' --> IDENTIFICAR LOS EESS QUE DIERON ALTA AL NIÑO. 
) AS T
 WHERE ID_ULTIMA_ALTA='1' --> ULTIMO EESS QUE DIO ALTA ODONTOLOGICA.

ALTER TABLE #ALTA DROP COLUMN ID_ULTIMA_ALTA 


 -----3.3 NIÑOS SIN ALTA ODONTOLGICA.
SELECT *
INTO #NOALTA
FROM (
		SELECT *
		, ROW_NUMBER() OVER (PARTITION BY NUM_DOC ORDER BY FECHA_ATENDIDO ASC, FECHA_REGISTRO ASC) ID_PRIMERA_ATENCION --> ENUMERAR DEL PRIMER AL ULTIMO EESS QUE ATENDIERON AL NIÑO. 
		FROM #TEMP3_1
		WHERE ID_ALTA='0'
) AS T
 WHERE ID_PRIMERA_ATENCION='1' --> PRIMER EESS QUE ATENDIO AL NIÑO EN UN SERVICIO ODONTOLOGICO. 

ALTER TABLE #NOALTA DROP COLUMN ID_PRIMERA_ATENCION 

------ 3.4 UNION DE 2 TEMPORALES. 
SELECT *
INTO #PRE_COLLAPSE
FROM (
		SELECT *
		FROM #ALTA
		UNION ALL
		SELECT *
		FROM #NOALTA
) AS T 
WHERE ((CAT_ESTAB IN ('I-1','I-2','I-3','I-4'))
	OR (CAT_ESTAB IN ('II-1','II-2','II-E') AND CAMAS<=50)) --> ESTABLECIMIENTOS DE PRIMER NIVEL Y SEGUNDO NIVEL CON MENOS DE 50 CAMAS.


--==========================
-- COLLAPSE
--=========================

	SELECT 
	NUM_DOC
	, DIRIS
	, DEPARTAMENTO
	, RED 
	, PROVINCIA
	, DISTRITO
	, EDAD
	, AÑO
	, MES
	, AMBITO
	, RENAES
	, CAT_ESTAB
	, CAMAS
	, EESS_NOMBRE
	, MAX(DEN) DENOMINADOR, MAX(NUM) NUMERADOR 
	INTO #DL1153_2021_10_NOMINAL 
	FROM #PRE_COLLAPSE
	GROUP BY 
	NUM_DOC
	, DIRIS
	, DEPARTAMENTO
	, RED 
	, PROVINCIA
	, DISTRITO
	, EDAD
	, AÑO
	, MES
	, AMBITO
	, RENAES
	, CAT_ESTAB
	, CAMAS
	, EESS_NOMBRE


	SELECT 
	 DIRIS
	, DEPARTAMENTO
	, RED 
	, PROVINCIA
	, DISTRITO
	, EDAD
	, AÑO
	, MES = case
when mes=1 then 'Enero'
when mes=2 then 'Febrero'
when mes=3 then 'Marzo'
when mes=4 then 'Abril'
when mes=5 then 'Mayo'
when mes=6 then 'Junio'
when mes=7 then 'Julio' 
when mes=8 then 'Agosto'
when mes=9 then 'Setiembre'
when mes=10 then 'Octubre'
when mes=11 then 'Noviembre'
when mes=12 then 'Diciembre' end
	, AMBITO
	, RENAES
	, CAT_ESTAB
	, CAMAS
	, EESS_NOMBRE
	, SUM(DENOMINADOR) DENOMINADOR, SUM(NUMERADOR) NUMERADOR 
	INTO #DL1153_2021_10_CONSOLIDADO
	FROM #DL1153_2021_10_NOMINAL 
	GROUP BY 
	DIRIS
	, DEPARTAMENTO
	, RED 
	, PROVINCIA
	, DISTRITO
	, EDAD
	, AÑO
	, MES
	, AMBITO
	, RENAES
	, CAT_ESTAB
	, CAMAS
	, EESS_NOMBRE

SELECT * FROM #DL1153_2021_10_CONSOLIDADO
